@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth@0,75;1,75&display=swap');


:root {
    --Laranja: #ED4231;
    --Branco-Gelo: #EDF2FB;
    --Preto: #262626;
    --Laranja-escuro: #9e170b;
    --bordas: 1px solid var(--Preto);
    --bordas-hover: 1px solid var(--Laranja);

    --trasicao-botao: transition-duration: 1s;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--Branco-Gelo);
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--Branco-Gelo);
    padding: 15px ;

    img {
        width: 20vw;
        height: 10vh;
        cursor: pointer;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80vw;;
        justify-content: space-around;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            width: 50vw;
            justify-content: space-around;

            li {
            margin: 0 10px;
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--Preto);
            cursor: pointer;
            transition: color 0.3s ease, transform 0.3s ease;

            &:hover {
                color: var(--Laranja);
                transform: scale(1.1);
            }
            }
        }
    }

    .botao-doar {
        width: 10vw;
        height: 5vh;
        border-radius: 20px;
        background-color: var(--Laranja);
        color: var(--Branco-Gelo);
        font-size: 16px;
        font-weight: bold;

        border: none;
        cursor: pointer;
        
        &:hover {
            background-color: var(--Branco-Gelo);
            color: var(--Preto);
            border: 1px solid var(--Preto);
            transition-duration: var(--trasicao-botao);
        }
    }



    .botao-login{
        width: 10vw;
        height: 5vh;
        border-radius: 20px;
        background-color: var(--Branco-Gelo);
        color: var(--Preto);
        font-size: 16px;
        font-weight: bold;
        border: 1px solid var(--Preto);
        cursor: pointer;

        &:hover {
            background-color: var(--Laranja);
            color: var(--Branco-Gelo);
            border: none;
            transition-duration: var(--trasicao-botao);
        }

    }

}

.home {
    display: flex;
    height: 86.9vh ;
    flex-direction: column;
    background: 
        linear-gradient(rgba(198, 1, 188, 0.5), rgba(49, 32, 188, 0.70)), 
        url('/public/assets/imgs/FotoFundoHome.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-start;
    padding: 5vw;

    .home-text{
        display: flex;
        flex-direction: column;
        height: 50vw;
        width: 25vw;
        justify-content: center;

        h1 {
            font-size: 55px;
            font-weight: bold;
            color: var(--Branco-Gelo);
            margin-bottom: 20px;
        }

        p {
            font-size: 24px;
            font-weight: 400;
            color: var(--Branco-Gelo);
            margin-bottom: 20px;
        }

        button {
        width: 13vw;
        height: 5vh;
        border-radius: 20px;
        background-color: var(--Laranja);
        color: var(--Branco-Gelo);
        font-size: 16px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        
             &:hover {
                background-color: var(--Laranja-escuro);
                color: var(--Branco-Gelo);
                border: none;
                transition-duration: var(--trasicao-botao);
            }
        }
    }
}